<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation=
       "http://www.springframework.org/schema/aop     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc     http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
    <bean id="zookeeperUtils" class="org.wjh.zookeeper.common.ZookeeperUtils">
        <property name="connectString" value="${zookeeperConnectString}"/>
        <property name="sessionTimeoutMs" value="${zookeeperSessionTimeout}"/>
        <property name="connectionTimeoutMs" value="${zookeeperConnectionTimeout}"/>
        <property name="baseSleepTimeMs" value="${zookeeperBaseSleepTimeMs}"/>
        <property name="maxRetries" value="${zookeeperMaxRetries}"/>
        <property name="nameSpace" value="${zookeeperPrivateNamespace}"/>
    </bean>
    <bean id="helloLockContext" class="org.wjh.zookeeper.common.ZookeeperLockContext">
        <property name="bizStage" value="helloLockContext"/>
        <property name="concurrency" value="1024"/>
    </bean>
    <bean id="zkNodeListener" class="org.wjh.zookeeper.listener.ZkNodeListener" init-method="init">
        <property name="node" value="task"/>
    </bean>
</beans>